<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Paradoks</title>
  <link rel="stylesheet" href="paradoks.css">
  <script src="//unpkg.com/vue@2"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <style id="extra-rule"></style>
</head>

<body>
  <div id="paradoks">
    <div v-show="step !== totalStep">
      <nav>
        <p>
          Choose a number between 1 and
          <input v-model="maxSizeInput" type="text">
          If you have a number on the screen press
          <button @click="yep">
            Yep
          </button>
          or
          <button @click="nope">
            Nope
          </button>
          <small>Press a number on your keyboard to highlight numbers which start with it.</small>
        </p>


        <div class="steps-indicator">
          <b>{{ totalStep - step }}</b> steps remaining
        </div>
      </nav>

      <div class="card">
        <span v-for="p in currentCard" :key="p" :class="p.toString()">{{ p }}</span>
      </div>
    </div>

    <div v-if="step === totalStep" class="result">
      <h1>{{ resultText }}</h1>
      <a href="" @click.prevent="reset">Try again</a>
      <a href="https://github.com/abdullah/paradoks" target="_blank">GitHub</a>
    </div>
  </div>
  <script src="index.js"></script>
</body>

</html>